*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 1000px;
    font-family: 'main-font';
    font-size: 17px;
}
@font-face {
    font-family: 'main-font';
    src: url(RobotoSlab-ExtraLight.ttf);
}
header{
    height: 60px;
    background: linear-gradient(to right, #1290af, #057f5b);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}
.header-content{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.logo-text{
    color: white;
    font-size: 17px;
}
.nav{
    display: flex;
    min-width: 170px;
    justify-content: space-between;
    align-items: center;
}
.nav-a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding: 5px;
    margin: 3px;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.3s;
}
.nav-a:hover{
    color: black;
    border: 1px solid black;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    margin-top: 15px;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    border-top: 1px solid #0bc08a;
    transition: 0.1s;
}
.card:hover{
    border-top: 3px solid #0bc08a;
}
.likes{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    border-top: 1px solid #0bc08a;
    padding: 5px;
    align-items: center;
}
.btn{
    padding: 3px;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.3s;
}
.btn:hover{
    color: #0bc08a;
    border: 1px solid #0bc08a;
    cursor: pointer;
}
.add-projects{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-self: center;
    padding: 5px;
    border: 1px solid black;
    border-top: 1px solid #0bc08a;
    border-radius: 10px;
    align-items: center;
    transition: 0.1s;
}
.add-projects:hover{
     border-top: 3px solid #0bc08a;
}
#add-btn{
    min-width: 83px;
    margin-top: 5px;
}
.input{
    width: 80%;
    margin-top: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}
.input:hover{
    cursor: pointer;
}












@media(min-width: 768px){
    .add-projects{
        width: 40%;
    }
    body{
        font-size: 20px;
    }
    .logo-text{
        font-size: 20px;
    }
    .nav-a{
        font-size: 12px;
    }
}
@media(min-width: 1024px){
    body{
        font-size: 25px;
    }
    .logo-text{
        font-size: 25px;
    }
    .nav-a{
        font-size: 15px;
    }
}